<div class="col-md-9" [hidden]="ctrl.valid">
    <div class="row">
      <div class="col-xs-9">
        <div class="form-group netpromoter-form-group">
          <ngb-rating [formControl]="ctrl"></ngb-rating>
        </div>
      </div>
    </div>
</div>
<div class="col-md-9" [hidden]="ctrl.invalid">
  <div class="row">
    <div class="col-xs-9 data-point" *ngIf="ctrl.value > 7">
      Please take a minute to rate us on our marketplace page <a href="https://marketplace.athenahealth.com/product/clinical-assistant-by-grand-round-table">here</a>!
    </div>
    <div class="col-xs-9 data-point not-found" *ngIf="ctrl.value <= 7">
      <shared-feedback-form [netpromoter]="netpromoter"></shared-feedback-form>
    </div>
  </div>
</div>
